{% load static %} <!-- [A] -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mind Note</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'diary/css/styles.css' %}"> <!-- [B] -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
    <div class="wrap-intro">
        <h1><img src="{% static 'diary/image/logo01.svg' %}"></h1>
        <p>To be happy.<br>Let`s try to control our feeling.</p>
        <a href="{% url 'page-list' %}">click to enter</a> <!-- [C] -->
    </div>
</body>
</html>